@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FB;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo-content {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-left: 7px;
}

.logo-header h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26.04px;
  margin: 0;
}

.logo-header p {
  color: #8c8ca1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  margin: 0;
}

.timer-wrapper {
  display: flex;
  gap: 7px;
}

.timer-container {
  background-color: #ece8ff;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
}

.timer img {
  width: 50px;
  height: 50px;
}

.timer-count {
  margin-left: 10px;
  text-align: center;
}

.timer-count p {
  color: #755ae2;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  line-height: 23.44px;
}

.timer-count p span {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .header {
    margin-bottom: 15px;
  }

  .nav-menu .logo-header {
    margin-bottom: 20px;
  }

  .nav-menu .timer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .logo-header h2 {
    font-size: 12px;
  }
  
  .logo-header p {
    font-size: 12px;
  }
}

/* Time Counter Styling */
.timer-wrapper {
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.timer-container {
  background-color: #ECE8FF;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-self: center;
}

.close-eye {
  width: 30px;
  height: 40px;
}

.timer img {
  width: 40px;
  height: 40px;
}

.timer-count {
  margin-left: 10px;
  text-align: center;
}

.timer-count p {
  color: #755AE2;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  line-height: 23.44px;
}

.timer-count p span {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.hide  {
  margin-top: 10px;
}

@media (max-width: 768px) {
  nav {
      display: flex;
      flex-direction: column;
  }

  .logo {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .timer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .timer-container {
    width: auto;
    padding: 10px;
    margin-top: 10px;
  }

  .close-eye {
    width: 30px;
    height: 30px;
  }

  .timer img {
    width: 30px;
    height: 30px;
  }

  .timer-count p span {
    font-size: 10px;
  }

  .timer-count p {
    font-size: 10px;
  }
} 

/* Card Styling */
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card-container {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 832px;
  height: 527px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.card-container p {
  font-weight: 400;
  font-size: 14px;
  color: #4A4A68;
  margin: 0;
  line-height: 22px;
  padding-top: 10px;
}

/* Picture-Capture Styling */
.picture {
  margin-top: 45px;
}

.picture-container {
  border-radius: 10px;
  border: 1px solid #755AE2;
  background-color: white;
  width: 275px;
  height: 168px;
}

.picture-capture-container {
  width: 275px;
  height: 168px;
  border-radius: 10px;
}

/* System Option Styling */
.card-options {
  display: flex;
  gap: 30px;
}

.system-option-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.box {
  background-color: #F5F3FF;
  width: 91px;
  height: 71px;
  border-radius: 10px;
  position: relative;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-content img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
  margin-top: 10px;
}

.box-content p {
  color: #4A4A68;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: center;
  margin: 0;
}

.circle img{
  position: absolute;
  top: -10px;
  right: 0;
}

/* Button Styling */
.btn {
  margin-top: 20px;
}

button {
  background-color: #755AE2;
  border-radius: 7px;
  height: 44px;
  width: 207px;
  color: white;
  line-height: 18.23px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

@media  (max-width: 768px) {
  .card-container {
    padding: 20px;
    height: auto;
    width: auto;
    margin-top: auto;
  }

  .card-options {
    flex-direction: column;
    gap: 10px;
  }

  .card-wrapper {
    height: auto;
  }

  .picture {
    margin-top: 55px;
  }

  .btn {
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Footer Styling */
.footer {
  margin: 15px 20px;
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  width: 90%;
  max-width: 472px;
  height: 314px;
  border-radius: 18px;
  background-color: #F5F3FF;
  overflow: hidden;
}

.assessment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #755AE2;
  height: 80px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  padding: 0 25px;
}

.assessment h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin: 0;
  color: white;
}

.assessment button {
  background-color: #8F79E8;
  border-radius: 9px;
  outline: none;
  border: none;
  width: 75px;
  height: 32px; 
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  color: #F5F3FF;
  cursor: pointer;
}

.process-container {
  background-color: #F5F3FF;
  height: 150px;
  padding: 25px;
}

.process-container h3 {
  color: #755AE2;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  text-align: center;
}

.process-container p {
  color: #675E8B;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

.proceed-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  background-color: #fff;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 81px;
  margin: 0;
  padding: 25px;
}

.proceed-btn a {
  background-color: #755AE2;
  height: 44px;
  width: 140px;
  border-radius: 7px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  .modal-container {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  .assessment {
    padding: 15px;
    height: auto;
  }

  .assessment h4 {
    margin-bottom: 10px;
  }

  .proceed-btn {
    justify-content: center;
  }
}